.screen {
  background-color: #121212;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text {
  font-size: 15px;
  color: white;
  max-width: 75vw;
  text-align: center;
}

.home {
  color: #f9a825;
  position: absolute;
  top: 10px;
  left: 10px;
}
